<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/Home">
            <i class="fas fa-university" width="112" height="28"></i>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navBarMenu" data-target="navBarMenu" id="burger" (click)="desplegar()">
            <span class="has-text-white-ter"></span>
            <span class="has-text-white-ter"></span>
            <span class="has-text-white-ter"></span>
        </a>
    </div>

    <div id="navBarMenu" class="navbar-menu has-background-link">
        <!-- Estudiantes -->
        <div class="navbar-item has-dropdown is-hoverable ">
            <a class="navbar-link has-text-light ">
                <i class="fas fa-user-graduate"></i> Estudiantes
            </a>
            <div class="navbar-dropdown">
                <a class="navbar-item has-text-grey-light" routerLink="/ListaEstudiantes">
                    <i class="fas fa-list"></i> Lista Estudiantes
                </a>
                <a class="navbar-item has-text-grey-light" routerLink="/AdicionarEstudiantes">
                    <i class="fas fa-user-plus"></i> Adicionar Estudiante
                </a>
            </div>
        </div>
        <!-- Profesores -->
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link has-text-light">
                <i class="fas fa-chalkboard-teacher"></i> Profesores
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item has-text-grey-light" routerLink="/ListaProfesores">
                    <i class="fas fa-list"></i> Lista Profesores
                </a>
                <a class="navbar-item has-text-grey-light" routerLink="/AdicionarProfesores">
                    <i class="fas fa-user-plus"></i> Adicionar Profesores
                </a>
            </div>
        </div>
        <!-- Asignaturas -->
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link has-text-light">
                <i class="fas fa-chalkboard"></i> Asignaturas
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item has-text-grey-light" routerLink="/ListaAsignaturas">
                    <i class="fas fa-list"></i> Lista Asignaturas
                </a>
                <a class="navbar-item has-text-grey-light" routerLink="/AdicionarAsignaturas">
                    <i class="far fa-plus-square"></i> Adicionar Asignaturas
                </a>
            </div>
        </div>
    </div>

</nav>