<div class="container mt-6">
    <div class="card">
        <div class="card-content">
            <p class="title has-text-centered">
                Creación Asignatura
            </p>
        </div>

        <form (ngSubmit)="onSubmit(formulario)" #formulario="ngForm">
            <div class="columns mx-1">
                <div class="field column">
                    <label class="label has-text-left">Codigo</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Codigo Asignatura" name="codigo" [(ngModel)]="asignaturaCreada.codigoAsignatura" maxlength="100" required>
                    </div>
                    <span class="help has-text-danger" *ngIf="formulario.submitted && formulario.controls['codigo'].errors">
                      El Codigo es obligatorio
                    </span>
                </div>

                <div class="field column">
                    <label class="label has-text-left">Nombre</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Nombre Asignatura" name="nombre" [(ngModel)]="asignaturaCreada.nombreAsignatura" maxlength="100" required>
                    </div>
                    <span class="help has-text-danger" *ngIf="formulario.submitted && formulario.controls['nombre'].errors">
                      El Nombre es obligatorio
                    </span>
                </div>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                    <button class="btn btn-outline-danger btn-lg" routerLink="/ListaAsignaturas">
                <i class="far fa-times-circle fa-lg"></i>
              </button>
                </p>
                <p class="card-footer-item">
                    <button class="btn btn-outline-success btn-lg" type="submit">
                  <i class="far fa-check-circle fa-lg"></i>
                </button>
                </p>
            </footer>

        </form>



    </div>
</div>